#company-header-container .section-title{
	color: white;
}

#company-title{
	font-size: 4em;
	font-weight: 400
}

.sub-content-container{
	position: relative;
}

.call-to-action-container{
	background-color:#75c5e6;
}
.no-bullet{
	max-width: 233px;
	left: 0;
	right: 0;
	margin: 0 auto!important;
}
.no-bullet li{
	padding-bottom: 15px;
	margin-left: 18%;
	margin-right: 18%
}
.no-bullet li div{
	display: block;
}
#sub-content-1{
	font-size:1.5em;
	font-family: 'alternate-gothic-no-3-d';
}

#call-to-action{
	padding-top: 15px;
	border-top-style: solid;
	color: white;
	display: inline-block;
}
#call-to-action h5{
	/*color: #1f4598;*/
	color:rgb(20, 37, 76);
	font-size: 0.8rem;
}

#sub-content-3 img{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}
.sub-content{
	padding-right: 150px;
}
@media only screen and (max-width: 40em){
	.no-bullet li{
		margin-right: 0;
		margin-left: 0;
	}
	.call-to-action-container{
		padding-left: 0.9375rem!important;
	}

	#call-to-action{
		border-width: 2px;
	}
	#sub-content-3 img{
		width: 80%;
	}
	.sub-content{
		padding-right: 0px;
	}
	#contact-container ul{
		padding-left: 15px;
	}
}
@media only screen and (min-width: 40.063em) {
	.no-bullet li{
		margin-left: 0px;
		margin-right: 0;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.company-description-container{
		padding-left:0px;
	}
	.sub-content{
		padding-right: 0px;
	}
	#sub-content-1 {
	font-size: 1.56em;
	}
}

@media only screen and (max-width: 64em) {
	.no-bullet{
		position: relative;
		margin: 0!important;
	}
}