/**
CSS Styling for Main carousel
**/
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.owl-carousel div h1, .owl-carousel div .textoverlay{
    position:absolute;
    color:#1f4598;
    width: 100%;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.owl-carousel div h2{
	color: white;
	font-style: italic;
	position: relative;
}

.owl-theme .owl-controls{
	margin-top: 0px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	width: 100%;
}

/* Styling Next and Prev buttons */
.owl-controls{
	display: none;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
.slide-container{
	position: relative;
}

/*.prev{
	position: absolute;
	top: 45%;
	left: 15px;
	display: none;
	width: 30px;
}
.next{
	position: absolute;
	top: 45%;
	right: 15px;
	display: none;
	width: 30px;
}*/

.company-description-container{
	margin-top: 20%;
	margin-left: 15px;
}
#mobile-main-content{
	display:none;
}

/**
CSS Styling for row below main carousel.
**/


.first-sub-tagline{
	color: #1f4598;
	position: relative;	
	line-height: 1.1;
}

.first-sub-tagline h4{
	font-family: 'alternate-gothic-no-3-d';
}

.table-cell{
	display: table-cell;
	vertical-align: middle;
}

.first-sub-tagline a{
	color: white;
	font-family: 'alternate-gothic-no-3-d';
}
.second-sub-tagline{
	width: auto;
	border-left-style: none;
	color:rgb(20, 37, 76);
	transition: width 2s;
    transition-timing-function: linear;
}

.bx-wrapper{
	padding-top: 0px;
	/*max-height: 231px;*/
	border-top-style: none;
	border-left-style: solid;
}
.bxslider{
	margin: 0;
	max-width: 614px;
}
.bx-viewport{
	/*height: 275px!important;*/
}

.fourth-tagline .large-7{
	padding-right: 0;
}
.fourth-tagline .large-7 img{
	width: 100%;
}
#red-vest-column{
	padding-left: 0px;
}

.fourth-tagline .bodytext{
	color:rgb(20, 37, 76);
	max-width: 387px;
}

.tablet-col h2, .tablet-col h3, .tablet-col small{
	color: white;
	line-height: 1.9;
}

#tablet-small-text{
	padding-top: 1.2rem;
	font-size: 0.8rem;
	max-width: 387px;
	display: block;
}

.tablet-col h5{
	display: inline-block;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: white;
	border-bottom-color: white;
	color: white;
	border-width: 1.5px;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

#tablet-middle-text{
	max-width: 320px;
}
/**
Media Queries
**/
@media only screen and (max-width: 40em) {

	
	#mobile-main-content{
		display:inline-block;
		width: 100%;
	}
	.textoverlay{
		position:absolute;
		width:100%;
		text-align: center;
	}
	#owl-demo{
		display:none!important;
	}
	.bx-wrapper{
		border-left-style: none;

	}

	.second-sub-tagline{
		
		padding-left: 0px;
	}

	.slide-header{
		font-size: 1.3em;
		top: 10px;
	}
	.since-1991-tag{
		letter-spacing: 4px;
	}
	#mobile-img{
		width: 100%;
	}
	#tablet-img, #red-vest-column{
		display: none;
	}
	
}

@media only screen and (max-width: 64em) {
	
}