/**
CSS for main navbar
**/

.top-bar{
	background-color: white;
}


.top-bar .toggle-topbar.menu-icon a {
color:rgb(20, 37, 76);;
}

.top-bar .toggle-topbar.menu-icon a span::after{
	-webkit-box-shadow: 0 0px 0 1.7px lightgrey,0 9px 0 1.7px lightgrey,0 19px 0 1.7px lightgrey;
	box-shadow: 0 0px 0 1.7px lightgrey,0 9px 0 1.7px lightgrey,0 19px 0 1.7px lightgrey;
	width: 20px;
}

.top-bar.expanded .title-area {
	background: white;
}

.top-bar-section ul li>a {
	color:rgb(20, 37, 76);
	background-color: white;
}

.top-bar-section ul li{
	background-color: white;
}
.top-bar .name h1 a{
	padding: 0px;
}
.site-nav-container-main ul li, .footer-contact-wrapper ul li {
	background: transparent;
	padding-left: 0.6em;
	padding-right: 0.6em;
	margin-left: 0;
	border-right-style: solid;
	border-color:lightgrey;
}

#nav-last-child{
	border-right-style:none;
}

.top-bar-section li:not(.has-form) a:not(.button){
	line-height: normal;
	background: transparent!important;
	font-family: 'alternate-gothic-no-3-d';
	font-size:1.3em;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
	color: rgb(20, 37, 76);;
}

.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
	background-color: white; 
	color: rgb(20, 37, 76);;
}

#navbar-logo{
	max-width:230px;
	height: 45px;
	padding-top: 10px;
}
.site-nav-container-main{
	float: right;
	display: none;
	position: absolute;
	right: 3px;
	top: 75px;
}

.site-nav-container-mobile{
	display: none!important;
	margin-bottom: 16px!important;
}

.site-nav-container-mobile li{
	border-top-style: solid;
	border-color: lightgrey;
	margin-right: 15px;
}
.site-nav-container-mobile li:last-child{
	border-bottom-style: solid;
	border-color: lightgrey;
}

.current{
	border-bottom-style:solid;
}

#reports-login-mobile-container{
	display: none;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 60px;
}

#reports-login-mobile{
	display: none;
	width:100%;
}

.site-nav-container-main ul li a{
	font-family: alternate-gothic-no-3-d;
	letter-spacing: 1.5px;
}

.site-nav-container-mobile ul li a{
	font-family: alternate-gothic-no-3-d;
	letter-spacing: 1.5px;
}
/**
CSS for login in form
**/

.login-logo-wrapper{
	text-align: center;
}

.login-logo{
	width: 60%;
}

.button{
	width:100%;
}

.login-btn-container{
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 0.9375rem;
	width: 200px;
	margin: 0 auto;
}
#blue-navbar{
	padding-top: 5px;
	padding-bottom: 5px;
}
.blue-nav-content{
	color: white;
	display: inline;
	float: right;
}

#horizontalbar{
	padding-left: 10px;
}

.blue-nav-content a img{
	width: 15px;
	margin-left: 10px;
}

.blue-nav-content small{
	letter-spacing: 1.5px;
}

#mail-icon{
	width: 23px;
}

#reports-login-error{
	visibility:hidden;
}

#employee-login-error{
	visibility:hidden;
}
/**
Media queries
**/

@media only screen and (max-width: 40em){
	#blue-navbar{
		display: none;
	}
	.top-bar{
		height: 70px;
	}
	.top-bar-section{
		top: 16px;
	}
	#navbar-logo{
		height: 50px;
		
	}
	.name a{
		padding-left: 0!important;
	}
	.top-bar.expanded .title-area {
		height: 50px
	}

	.top-bar-section ul{
		padding-top: 10px;
	}

	.top-bar-section li:not(.has-form) a:not(.button){
		padding-left: 0;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.top-bar-section li:not(.has-form) a:not(.button):hover{
		color:#1e4595;
	}

	.site-nav-container-mobile{
		display:block!important;
	}
	#reports-login-main{
		display:none;
	}
	#reports-login-mobile-container{
		display:inline-block;
	}
	#reports-login-mobile{
		display: inline-block;
		margin: 0;
		font-size: 2em!important;
		letter-spacing: 3px;
	}
	
} /* Define mobile styles */

@media only screen and (min-width: 40.063em) {
	.top-bar{
		height: 125px;
	}
	.top-bar .title-area {
		position: absolute;
		top: 45px;
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
		height: 80px;
	}

	.top-bar-section ul {
		position: relative;
		right: 0;
		top: 15px;
	}
	/*.top-bar-section ul li>a.button{
		color:#1e4595;
		font-style: bold;
		background:white;
		border-color: lightblue;
		border-style: solid;
		border-width: 0.2em;
	}*/
	#navbar-logo{
		padding-top: 0;
	}
	.site-nav-container-main{
		display:inline-block;
	}
} /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em)and (max-width: 870px){
	.title-area{
		top: 20px!important;
	}
}
