<div class="row secondary-tagline blue-background footer tagline-col" id="contactus"data-equalizer>
	<div class="large-5 columns" data-equalizer-watch>
	<div id="footer-logo">
		<a href="./"><img src="./img/JT_Smith-final-logo-blue_4web.png"></a>
		<hr>
	</div>
	<div id="copyright-tag">All content copyright &#169;2014 J.T Smith & Associates, Inc.</div>
	</div>
	<div class="large-7 columns" data-equalizer-watch>
		<div class="row" id="footer-contact" data-equalizer>
			<div class="large-3 columns footer-contact-wrapper" data-equalizer-watch>
				<h5>CONTACT US</h5>
				<small class="contact-content">204 W. Monroe<br>P.O.Box 120<br>Philo, Illinois 61864-0120</small>
			</div>
			<div class="large-3 columns footer-contact-wrapper" data-equalizer-watch>
				<small class="contact-content">Phone: 217.684.2174<br>Fax: 888.680.4787<br>Email: info2@jtsmith.com</small>
			</div>
			<div class="large-6 columns footer-contact-wrapper" data-equalizer-watch>
				<h5>FOLLOW US</h5>
				<ul class="inline-list contact-content" id="footer-social-media">
				  <li><a href="#"><img src="./img/socialmedia/facebook.png"></a></li>
				  <li><a href="#"><img src="./img/socialmedia/twitter.png"></a></li>
				  <li><a href="#"><img src="./img/socialmedia/instagram.png"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>