<!--Reports Login form-->
  <div id="reports-login-form" class="reveal-modal small" data-reveal>
    <div class="login-logo-wrapper"><a href="#"><img class="login-logo" src="./img/JT_Smith-final-logo-blue_4web.png" alt="J.T. Smith"></a></div>
    <hr>
    <form data-abide="ajax" id="reports-login">
      <div class="row">
        <div class="large-12 columns reports-login-wrapper bodytext">
          <label>Login Code
            <input type="text" placeholder="Enter your login code" id="report-login-input"/>
          </label>
          <div data-alert class="alert-box alert radius" id="reports-login-error">
            A valid login code is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12-columns login-btn-container">
          <a href="#" class="button [large] button-template" id="form-report-login-btn"><img src="./img/login-button.png" alt=""></a>
        </div>
      </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!--End of reports login form-->

  <!--Employees Login form-->
  <div id="employee-login-form" class="reveal-modal small" data-reveal>
    <div class="login-logo-wrapper"><a href="#"><img class="login-logo" src="./img/JT_Smith-final-logo-blue_4web.png" alt="J.T. Smith"></a></div>
    <hr>
    <form data-abide>
      <div class="row">
        <div class="large-12 columns">
          <label>Email
            <input type="email" placeholder="Enter your email"  pattern="email" id="employee-email"/>
            <small class="error">A valid email is required.</small>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Password
            <input type="password" placeholder="Enter your password" id="employee-pw"/>
          </label>
          <div data-alert class="alert-box alert radius" id="employee-login-error">
            A valid email or password is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12-columns login-btn-container">
          <a href="#" class="button [large] button-template" id="form-employee-login-btn"><img src="./img/login-button.png" alt=""></a>
        </div>
      </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!--End of employees login form-->