<div class="blue-background" id="blue-navbar">
  <div class="row">
    <div class="large-offset-9 large-3 columns">
      <div class="blue-nav-content">
          <a href="#"><img id="mail-icon" src="./img/socialmedia/mail-icon-white.png" alt=""></a>
      </div>
      <div class="blue-nav-content">
          <a href="#"><img src="./img/socialmedia/facebook.png" alt=""></a>
      </div>
      <div class="blue-nav-content">
          <a href="#"><img src="./img/socialmedia/instagram.png" alt=""></a>
      </div>
      <div class="blue-nav-content">
          <a href="#"><img src="./img/socialmedia/twitter.png" alt=""></a>
      </div>
      <div class="blue-nav-content" id="horizontalbar">|</div>
      <div class="blue-nav-content"><small>217.684.2174</small></div>
    </div>
  </div>
</div>
<!-- Navigation bar-->
<div class="row">
 <div class="large-12 columns">
 <nav id="nav-topbar" class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="./"><img id="navbar-logo" src="./img/JT-smith-logo-blue-darker.png" alt="J.T. Smith"></a>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <div class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#" data-reveal-id="reports-login-form" class="button [large] button-template" id="reports-login-main"><img src="./img/report-button.png" class="reports-login-btn" alt=""></a></li>
      </ul>
      <ul class="site-nav-container-mobile">
          <li><a href="solutions.php">SOLUTIONS</a></li>
          <li><a href="company.php">OUR COMPANY</a></li>
          <li><a href="#" data-reveal-id="employee-login-form" class="employee-login-btn">EMPLOYEE LOG-IN</a></li>
          <li><a href="testimonials.php">TESTIMONIALS</a></li>
          <li><a href="#contactus">CONTACT</a></li>
          <li><a href="./">HOME</a></li>
      </ul>
    </div>
  </nav>
  <!--End of Navbar-->

  <!--Navigation links for sizes tablets and above-->
  <div class="site-nav-container-main">
    <ul class="inline-list">
      <li><a class="solutions-link" href="solutions.php">SOLUTIONS</a></li>
      <li><a class="company-link" href="company.php">OUR COMPANY</a></li>
      <li><a href="#" data-reveal-id="employee-login-form" class="employee-login-btn">EMPLOYEE LOG-IN</a></li>
      <li><a class="testimonials-link" href="testimonials.php">TESTIMONIALS</a></li>
      <li><a href="#contactus">CONTACT</a></li>
      <li id="nav-last-child"><a class="home-link" href="./">HOME</a></li>
    </ul>
  </div>
  <!--End of navigation links-->
  </div>
</div>
  <!--Reports login button for mobile view-->
  <div id="reports-login-mobile-container">
    <a href="#" data-reveal-id="reports-login-form" class="button [large] button-template" id="reports-login-mobile"><img src="./img/report-button.png" class="reports-login-btn" alt=""></a>
  </div>
  <!-- End -->