<template>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img id="navbar-logo"src="./img/JT_Smith-final-logo-blue_4web.png"></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#" data-reveal-id="myModal" class="button [large]">REPORTS LOG-IN</a></li>
      </ul>
    </section>
  </nav>

  <div id="myModal" class="reveal-modal small" data-reveal>
    <div id="login-logo-wrapper"><a href="#"><img id="login-logo"src="./img/JT_Smith-final-logo-blue_4web.png"></a></div>
    <hr>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Email
            <input type="email" placeholder="Enter your email" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Password
            <input type="password" placeholder="Enter your password" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12-columns">
          <a href="#" class="button [large]" id="form-login-btn">LOG-IN</a>
        </div>
      </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</template>