<!-- Navigation bar-->
 <nav id="nav-topbar"class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="./"><img id="navbar-logo"src="./img/JT_Smith-final-logo-blue_4web.png"></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#" data-reveal-id="reports-login-form" class="button [large] button-template" id="reports-login-main"><img src="./img/report-button.png" class="reports-login-btn"></a></li>
      </ul>
      <ul class="site-nav-container-mobile">
          <li><a href="solutions.php">SOLUTIONS</a></li>
          <li><a href="company.php">OUR COMPANY</a></li>
          <li><a href="#" data-reveal-id="employee-login-form" id="employee-login-btn">EMPLOYEE LOG-IN</a></li>
          <li><a href="testimonials.php">TESTIMONIALS</a></li>
          <li><a href="#contactus">CONTACT</a></li>
          <li><a href="./">HOME</a></li>
    </ul>
    </section>
  </nav>
  <!--End of Navbar-->

  <!--Navigation links for sizes tablets and above-->
  <div class="site-nav-container-main">
    <ul class="inline-list">
      <li><a class="solutions-link" href="solutions.php">SOLUTIONS</a></li>
      <li><a class="company-link"href="company.php">OUR COMPANY</a></li>
      <li><a href="#" data-reveal-id="employee-login-form" id="employee-login-btn">EMPLOYEE LOG-IN</a></li>
      <li><a class="testimonials-link" href="testimonials.php">TESTIMONIALS</a></li>
      <li><a href="#contactus">CONTACT</a></li>
      <li id="nav-last-child"><a class="home-link" href="./">HOME</a></li>
    </ul>
  </div>
  <!--End of navigation links-->

  <!--Reports login button for mobile view-->
  <div id="reports-login-mobile-container">
    <a href="#" data-reveal-id="reports-login-form" class="button [large] button-template" id="reports-login-mobile"><img src="./img/report-button.png" class="reports-login-btn"></a>
  </div>
  <!-- End -->